{"http_interactions":[{"request":{"method":"get","uri":"https://api.instagram.com/v1/users/self.json?access_token=262625892.40848d1.bd46b6f5902f45c9b9257b9a98063c1a","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"X-Ratelimit-Remaining":["4980"], "Content-Language":["en"], "X-Ratelimit-Limit":["5000"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"meta\":{\"error_type\":\"OAuthAccessTokenException\",\"code\":400,\"error_message\":\"The access_token provided is invalid.\"}}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 20:48:56 GMT"}],"recorded_with":"VCR 2.9.3"}