{"http_interactions":[{"request":{"method":"get","uri":"https://api.instagram.com/v1/users/self.json?access_token=262625892.40848d1.bd46b6f5902f45c9b9257b9a98063c1a","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Ratelimit-Remaining":["4920"], "Content-Language":["en"], "X-Ratelimit-Limit":["5000"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"meta\":{\"code\":200},\"data\":{\"username\":\"brownieelf175\",\"bio\":\"\",\"website\":\"\",\"profile_picture\":\"http:\\/\\/photos-b.ak.instagram.com\\/hphotos-ak-xfa1\\/t51.2885-19\\/s150x150\\/11356565_1652474361678185_403755501_a.jpg\",\"full_name\":\"Ricky Bacci\",\"counts\":{\"media\":0,\"followed_by\":38,\"follows\":10},\"id\":\"262625892\"}}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 18:14:36 GMT"},{"request":{"method":"get","uri":"https://api.instagram.com/v1/users/self/feed.json?access_token=262625892.40848d1.bd46b6f5902f45c9b9257b9a98063c1a","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Ratelimit-Remaining":["4919"], "Content-Language":["en"], "X-Ratelimit-Limit":["5000"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"pagination\":{\"next_url\":\"https:\\/\\/api.instagram.com\\/v1\\/users\\/self\\/feed?access_token=262625892.40848d1.bd46b6f5902f45c9b9257b9a98063c1a\\u0026max_id=1029953872939485912_189026569\",\"next_max_id\":\"1029953872939485912_189026569\"},\"meta\":{\"code\":200},\"data\":[{\"attribution\":null,\"tags\":[\"straightouttacleveland\",\"chicago\",\"evilvscupcake\",\"ufc\",\"cleveland\",\"ufconfox\",\"eyebelieve\"],\"type\":\"image\",\"location\":null,\"comments\":{\"count\":26,\"data\":[{\"created_time\":\"1437673871\",\"text\":\"Gonna destroy Tate on Saturday @scaff16\",\"from\":{\"username\":\"friskynigga21\",\"profile_picture\":\"http:\\/\\/photos-d.ak.instagram.com\\/hphotos-ak-xaf1\\/t51.2885-19\\/10852662_328299524039675_1047662234_a.jpg\",\"id\":\"359940618\",\"full_name\":\"zack short\"},\"id\":\"1035605950385636850\"},{\"created_time\":\"1437673968\",\"text\":\"I like Tate :( @friskynigga21\",\"from\":{\"username\":\"scaff16\",\"profile_picture\":\"http:\\/\\/photos-f.ak.instagram.com\\/hphotos-ak-xaf1\\/t51.2885-19\\/s150x150\\/11358046_827996543945013_10962725[...]
