
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require bootstrap_and_overrides
 * require font-awesome
 *= require_tree .
*/
@import "bootstrap";
//

body {
  background-color: #1B3C59;
}

.container-fluid {
  text-align: center;
  padding-top: 5em;
}

.navbar-nav > li.search {
  padding-top: 10px;
 }

 .container, .navbar-inverse {
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
 }

img {
  margin-left: auto;
  margin-right: auto;
  width: 65em;
}

.text-left {
  padding-left: 5%;
}

.text-right {
  padding-right: 5%;
}

.white {
  color: white;
}

.well {
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
  color:black;
  background-color: #428bca;

  }

.center-picture {
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
}
.panel {
  color: #428bca;
  max-width: 65em;
}


 .panel-body {
   background-color: #1B3C75;
   margin-left: auto;
   margin-right: auto;
   max-width: 65em;
 }


div > a > img {
  border-radius: 25px;
  border-style: ridge;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
}
