@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require_tree .
*/



.container-fluid {
  background-color: #1B3C59;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: medium;
  font-weight: 100;
}

.nav > li > a.profile {
  padding-right: 50px;
}

.nav > li > a.logout {
  padding-right: 75px;
}

.nav > li > a.login {
  padding-right: 75px;
}

#name {
  margin: 10px;
}

.search {
  margin: 25px, 25px
}

.well {
  background-color: #1B3C59;
}
.span {
  text-decoration: bold;
}
.image {
  width: 100%;
  overflow: none;
}

